<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyDBConnectionString"
			 providerName="System.Data.SqlClient"
			 connectionString="Data Source=LAPTOP-60P4A9T9\SQLEXPRESS01;Initial Catalog=JukskeiDatabase;Integrated Security=True"/>
	</connectionStrings>
</configuration>