<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyDBConnectionString"
			 providerName="System.Data.SqlClient"
			 connectionString="Data Source=DESKTOP-1Q6MPU7;Initial Catalog=PersonalProjectTest;Integrated Security=True"/>
	</connectionStrings>
</configuration>